@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-image: url(img/bg.jpg);
    background-size: 100% 50em;
    background-repeat: no-repeat;
    background-position: top center;
}

.mosquito{
    width: 60px;
    height: 60px;
}

.mosquitonormal{
    width: 60px;
    height: 60px;
    
}

.mosquitoD{
    transform: scaleX(1);
    width: 60px;
    height: 60px;
}
.mosquitoE{
    transform: scaleX(-1);
    width: 80px;
    height: 80px;
}

.tm{
    width: 80px;
    height: 80px;
}

.tg{
    width: 110px;
    height: 110px;
}



